Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
KC3GameHack/Content/Stylized_Village/Maps/Stylized_Village_Winter/Stylized_Village_Winter.umap
KC3GameHack/Content/Stylized_Village/Maps/Stylized_Village_Summer.umap
KC3GameHack/Content/Stylized_Village/Maps/Stylized_Village_Fall/Stylized_Village_Fall_Landscape_BuiltData.uasset
KC3GameHack/Content/Stylized_Village/Maps/Stylized_Village_Fall/Stylized_Village_Fall.umap
